{% extends "base.html" %}

{% block content %}
<div>
    Số lớp bị xung đột: {{ num_conflict }}
</div>

<button class="btn btn-primary process mb-5" type="button">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span class="content">Process</span>
</button>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>#</th>
            <th>Mã môn học</th>
            <th>Tên môn học môn học</th>
            <th>Giảng viên</th>
            <th>Phòng</th>
            <th>Thời gian</th>
            <th>Xung đột</th>
        </tr>
    </thead>
    <tbody>
        {% for class in classes %}
        <tr>
            <td>{{ class.id }}</td>
            <td>{{ class.course.id }}</td>
            <td><a href="/schedule-table?course={{ class.course.id }}">{{ class.course.name }}</a></td>
            <td><a href="/schedule-table?lecturer={{ class.lecturer.id }}">{{ class.lecturer.name }}</a></td>
            <td><a href="/schedule-table?room={{ class.room.name }}">{{ class.room.name }}</a></td>
            <td>{{ class.time }}</td>
            <td>{% if class.conflict %}X{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(() => {
        $(".btn.process").click(async () => {
            $(".btn.process .content").text("Loading...");
            $(".btn.process .spinner-border").show();
            const response = await fetch('/api/process', { method: 'GET' });
            location.reload();
        });
    });
</script>
{% endblock %}